.controlbox {
    background: rgba(0, 0, 0, 0.2);
}

.button-overlay {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.2);
}

.error-overlay {
    opacity: 0.9;
    background-color: rgba(255, 0, 0, 0.2);
}

.flash {
    background-color: #ffffff;
}

.control {
    margin: 0;
    padding: 0;
    -gtk-icon-size: 36px;
}